@import '~@nevermined-io/styles/lib/cjs/styles/index.scss';

footer {
  background: rgba(0, 0, 0, 0.1) !important;
  a {
    color: #57a7de !important;
  }
}

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.nvm {
  &__container {
    margin: 0 auto;
    max-width: var(--ifm-container-width);
    padding: 0 var(--ifm-spacing-horizontal);
    width: 100%;
    text-align: center;
  }

  &__boxes {
    display: flex;
    align-items: center;
    padding: 2rem 0 10rem;
    width: 100%;
  }

  &__box {
    &--main {
      height: 100%;
      background: linear-gradient(107.16deg, #2f12dc 9.77%, #1ddef9 100%);

      svg {
        width: 64px;
        height: 40px;
        margin-bottom: 20px;
      }

      *[class~=text] {
        color: #fff;
      }
    }
  }

  &__gutter {
    margin-bottom: 40px;

    &--main {
      margin-bottom: 0;
    }

    @media (max-width: 997px) {
      &--main {
        margin-bottom: 40px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    color: var(--ifm-color-black);
  }

  &__description {
    text-align: center;
    margin-top: 40px;
    font-weight: 400;
    font-size: 21px;
    color: var(--ifm-color-black);
    padding: 0 25%;

    @media (min-width: 997px) and (max-width: 1439px) {
      padding: 0 18%;
    }

    @media (min-width: 768px) and (max-width: 996px) {
      padding: 0 15%;
    }

    @media (max-width: 767px) {
      padding: 0;
    }
  }

  &__banner {
    padding-top: 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  @media screen and (max-width: 996px) {
    &__banner {
      padding: 2rem;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media all and (max-width: 1023px) {
  .nvm {
    &__title,
    &__description {
      word-break: keep-all;
    }

    &__title {
      font-size: 4vh;
    }

    &__box {
      padding: 40px;
    }
  }
}
