/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.main-wrapper {
    background-color: #fff;
    color: black;
    line-height: 25px;

    h1 {
        font-size: 40px;
        font-weight: bold;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
    }

    h3 {
        font-weight: 24px;
        font-weight: bold;
    }

    li {
        list-style-type: disc;
        margin-left: 16px;

        &.theme-doc-sidebar-item-link, &.theme-doc-sidebar-item-category {
            list-style-type: none;
        }
    }

    p.text--truncate {
        margin-top: 15px;
    }

    a.hash-link {
        color: #57A7DE;
    }

    .table-of-contents__left-border {
        li {
            list-style-type: none;
        }
    }

    strong {
        font-weight: bold;
    }
}