/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.main-wrapper {
    background-color: #fff;
    color: black;
    font-size: 1.125rem;
    line-height: 2rem;
    font-family: "Titillium Web", sans-serif;

    .breadcrumbs {
        margin-bottom: 1.5em;
    }

    h1 {
        font-size: 50px;
        font-weight: bold;
    }

    h2 {        
        font-size: 40px;
        font-weight: bold;

        &.text--truncate {
            font-size: 35px;
        }
    }

    h3 {
        font-weight: 30px;
        font-weight: bold;
    }

    h4 {
        font-weight: bold;
    }

    li {
        list-style-type: disc;
        margin-left: 20px;

        &.theme-doc-sidebar-item-link, &.theme-doc-sidebar-item-category {
            list-style-type: none;
        }
    }

    .menu__link {
        font-weight: bold;
    }
    .table-of-contents__link {
        font-weight: bold;
    }
    p.text--truncate {
        margin-top: 15px;
    }

    p {        
        line-height: 2em;
    }

    a.hash-link, a {
        color: #57A7DE;
    }

    .table-of-contents__left-border {
        li {
            list-style-type: none;
        }
    }

    table {
        margin-bottom: 50px;
    }

    strong {
        font-weight: bold;
    }
}