.navbar {
  &__brand {
    margin-left: 2rem;
    // margin-right: 4rem;
  }

  &__logo {
    img {
      height: 22.85px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding: 21px;
    border-bottom: 4px solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      border-bottom: 4px solid;
      border-image-source: linear-gradient(
        107.16deg,
        #2f12dc 9.77%,
        #1ddef9 100%
      );
      border-image-slice: 1;
    }

    img {
      &.discord {
        width: 24px;
      }

      &.github {
        width: 24px;
      }
    }
  }

  &__items {
    @media (max-width: 1200px) {
      &:not(.navbar__items--right) {
        .navbar__link {
          padding-left: calc(var(--ifm-navbar-item-padding-horizontal) * 0.75);
          padding-right: calc(var(--ifm-navbar-item-padding-horizontal) * 0.75);

          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
  }
}
