.theme-doc-sidebar-container,
main {
  --doc-sidebar-width: 363px;
}

.theme-doc-sidebar-container {
  > *:first-child {
    padding-top: 1rem;
  }
}

.main-wrapper {
  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    // padding-left: 0;
    // padding-right: 0;

    &--active {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: var(--ifm-menu-link-padding-vertical)
        var(--ifm-menu-link-padding-horizontal);
    }

    &--sublist {
      padding-left: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;

      &-caret {
        padding: 0;

        &::before {
          content: '';
          min-width: 1.25rem;
          background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
          filter: var(--ifm-menu-link-sublist-icon-filter);
          height: 1.25rem;
          transform: rotate(180deg);
          width: 1.25rem;
          transition: transform var(--ifm-transition-fast) linear;
          padding: var(--ifm-menu-link-padding-vertical)
            var(--ifm-menu-link-padding-horizontal);
        }

        &::after {
          display: none;
        }
      }
    }
  }

  .menu__list {
    // padding-left: 0 !important;
  }

  .menu__list-item-collapsible {
    flex-direction: row-reverse;
  }

  li.theme-doc-sidebar-item-category {
    margin-left: 0 !important;
  }

  li.theme-doc-sidebar-item-link {
    margin-left: 0;
  }
}
